@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;

  margin: 0;

  background: #393e46;
}

button {
  font: inherit;
}

button,
img {
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-width: 100%;
}